<div class="slider">
  <ul class="slides">
    <li>
      <img src="./../images/aqua-banner.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="./../images/corn-banner.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="./../images/bamboo-banner.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="./../images/livestock-banner.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <br><br>
  <div class="row center" >
    <div class="col s12 m3" ng-repeat="category in categories" ng-model="cat" ng-init="cat = category.name">
      <img ng-src="{{category.thumbnail}}" width="100"><br>
      <a href="/#/{{category.name}}/commodities"><h3>{{category.name}}</h3></a><br>
      <div class="collection" ng-repeat="commodity in commodities | filter: cat">
        <a href="/#/commodity/{{commodity.name}}/technologies" class="collection-item">{{commodity.name}}</a>
      </div>
    </div>
  </div>
</div>


