
<main>
  <div class="parallax-container">
    <img src="/../images/header.png" height="400px"  style="width:85%">
  </div>

  <div>
    <br>
    <div class="row" >

      <div id="slide-out" class="side-nav almost-black white-text fixed">
        <div class="collection black-text">
          <ul class="collapsible almost-black" data-collapsible="accordion">
            <li ng-repeat="commodity in commodities | orderBy:'name'" ng-model="cat" ng-init="com = commodity.name" ng-class="{active: {{commodity.commodity_id}}==={{technology.commodity_id}}}">
              <div class="collapsible-header recall-list collapsible popout" style="font-size:14px" ng-class="{active: {{commodity.commodity_id}}==={{technology.commodity_id}}}">
                {{commodity.name}}
              </div>
              <div class="collapsible-body gray">
                <div class="collection black" style="text-align:right;">
                  <ul class="collection" ng-repeat="technology in technologies | filter: com">
                    <li class="collection-item">
                      <a href="/#/technologies/{{technology.technology_id}}" class="collection-item" style="font-size:14px" ng-class="{active: {{technology.technology_id}}==={{currentTechnology}}}">{{technology.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <br>
    <!-- technology content -->
      <div class="col s12">
        <div class="row">
          <div class="col s8">
            <h4>{{technology.title}}</h4>
            
            <p>{{technology.description}}</p>
            
            <h5>OBJECTIVES</h5>
            <p>
              {{technology.objective_intro}}
              <ul ng-repeat="objective in objectives">
                {{objective.objective}}
              </ul>  
            </p>

            <h5>BENEFITS</h5>
            <ul ng-repeat="benefit in benefits">
              <li>
                <i class="material-icons">check_circle</i>{{benefit.benefit}}
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="col s3">
              <div class="container" ng-repeat="image in images" mat-box>
                <img class="materialboxed responsive-img" ng-src="{{image.image}}" height="200px" width="200px">
              </div>
            </div>
          </div>
        </div>
          
        <div class="row">

          <div class="col s4">
            <h5>TARGET BENEFICIARIES</h5>
            <ul ng-repeat="beneficiary in beneficiaries">
              <li>
                <i class="material-icons">face</i>{{beneficiary.beneficiary}}
              </li>
            </ul>
          </div>

          <div class="col s3">
            <h5>LOCATIONS</h5>
            <ul ng-repeat="location in locations">
              <li>
                <i class="material-icons">room</i>{{location.location}}
              </li>
            </ul>
          </div>

          <div class="col s4">
            <h5>PARTNER INSTITUTIONS</h5>
            <ul ng-repeat="partner in partners">
              <li>
                <i class="material-icons">person_pin</i>{{partner.partner}}
              </li>
            </ul>
          </div>

        </div>
          
      </div>

    </div>

  </div>
</main>