    <div class="section no-pad-bot no-pad-top">
      <div class="container">
        <div class="center">
        <h1 class="header light-text text-light-1"><a href="sipag-ni-juan-home.html"><img src="./../images/samplebg1.png"/></a></h1>
        <br><br>
    </div>
      </div>
    </div>

  <div class="container">
    <div class="section">
      <h4 class="black-text">Featured Technologies</h4>
      <!--   Icon Section   -->
      <div class="row">
        <div class="box col s4 m3">
          <div class="icon-block">
            <h2 class="title overtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crops</h2>
            <a href="./directories/main/version2.html">
              <img src="./../images/abaca.png" alt="Abaca" class="hov" width="297px" height="300px">
            </a>
          </div>
        </div>
        <div class="box col s4 m3">
          <div class="icon-block">
            <h2 class="title overtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aquatic</h2>
            <a href="./directories/main/view-aquatic.html">
              <img src="./../images/aquatic.png" alt="Aquatic" class="hov" width="297px" height="300px">
            </a>
          </div>
        </div>
        <div class="box col s4 m3">
          <div class="icon-block">
            <h2 class="title overtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Livestock</h2>
            <a href="./directories/main/view-livestock.html">
              <img src="./../images/livestock.png" alt="Livestock" class="hov" width="297px" height="300px">
            </a>
          </div>
        </div>
         <div class="box col s4 m3">
          <div class="icon-block">
            <div><h2 class="title overtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forest</h2></div>
            <a href="./directories/main/view-forest.html">
              <img src="./../images/bamboo.png" alt="Forest" class="hov" width="297px" height="300px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

   <hr width="1500px">
   <br>
  <div class="container"> 
    <div class="row">
      <div class="col s12 m6">
        <h4 class="black-text">Featured News</h4>
        <a href="news.html">
          <img src="./../images/blog1.png" alt="News"/>
          <div class="center">
            <a class="waves-effect waves-light custom darken-1 btn">Read More</a>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <h4 class="black-text">Latest Blog Post</h4>
        <a href="news.html">
          <img src="./../images/blog4.png" alt="Blog Post"/>
          <div class="center">
            <a class="waves-effect waves-light custom darken-1 btn">Read More</a>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="parallax-container grey lighten-2">
    <div class="container"> 
      <div class="row">
        <div class="col s12 m6">
          <h4 class="black-text">Events</h4>
          <a href="events.html">
            <img src="./../images/blog2.png" alt="Events"/>
            <div class="center">
              <a class="waves-effect waves-light custom darken-1 btn">Read More</a>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <h4 class="black-text">Social Media Links</h4>
          <div class="col s2">
            <a class="white-text" href="https://www.facebook.com/PCAARRD"><img src="./../images/fb.png" width="80"></a>
          </div>
          <div class="col s2">
            <a class="white-text" href="https://www.twitter.com/dostpcaarrd"><img src="./../images/twitter.png" width="80"></a>
          </div>
          <div class="col s2">
            <a class="white-text" href="https://www.youtube.com/channel/UCcrb__kJo7NCYYlbjwAGVwA"><img src="./../images/youtube.png" width="80"></a>
          </div>
        </div>
      </div>
      </div>
      </div>