  <div id="index-banner" class="parallax-container">
    <div class="container">
      <div class="row right">
        <h1 class="header col s12 light shad">CROPS</h1>
      </div>
    </div>
    <div class="parallax"><img src="./../images/crops-banner.jpg" alt="Unsplashed background img 1"></div>
  </div>  
  
  <div class="container">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active"><i class="material-icons">description</i>CROPS</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="../images/abaca1.png" alt="" class="circle">
              <span class="title"><h6>Abaca</h6></span>
              <a href="./crops/main/view-crops.html" class="collection-item">Diagnostic kit for abaca virus</a>  
              <a href="#!" class="collection-item">Adding higher value to abaca</a>
              <a href="#!" class="collection-item">High-yielding and virus-resistant abaca hybrid</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/banana1.png" alt="" class="circle">
              <span class="title"><h6>Banana</h6></span>
              <a href="#!" class="collection-item">Combatting Fusarium wilt through resistant varieties and biological control</a>  
              <a href="#!" class="collection-item">Use of developed lakatan to address banana bunchy top</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coconut1.png" alt="" class="circle">
              <span class="title"><h6>Coconut</h6></span>
              <a href="#!" class="collection-item">Promising varieties of coconut for VCO and cocosap sugar production</a>  
              <a href="#!" class="collection-item">Improved mass propagation technique for coconut</a>
              <a href="#!" class="collection-item">Biological control of coconut scale insect (CSI)</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Coffee</h6></span>
              <a href="#!" class="collection-item">Quality planting materials for a better coffee</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/jackfruit1.png" alt="" class="circle">
              <span class="title"><h6>Jackfruit</h6></span>
              <a href="#!" class="collection-item">Metarhizium anisopliae as biological control for jackfruit fruit borer</a> 
              <a href="#!" class="collection-item">Optimized vacuum-fried and dehydrated jackfruit products</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/mango1.png" alt="" class="circle">
              <span class="title"><h6>Mango</h6></span>
              <a href="#!" class="collection-item">Dipstick kit for rapid detection of true-to-type carabao’ mango variety</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Coffee</h6></span>
              <a href="#!" class="collection-item">Quality planting materials for a better coffee</a>  
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">description</i>AQUATIC</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="../images/abaca1.png" alt="" class="circle">
              <span class="title"><h6>Milkfish</h6></span>
              <a href="#!" class="collection-item">DNA probes: Detecting pathogens on the dot</a>  
              <a href="#!" class="collection-item">Automatic fry counter: Accurate laser fry counting for milkfish</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/banana1.png" alt="" class="circle">
              <span class="title"><h6>Shrimp</h6></span>
              <a href="#!" class="collection-item">Genome-based lateral flow strip biosensor kit: Quick detection, quick response against shrimp diseases</a>  
              <a href="#!" class="collection-item">LAMP: New simple tool for detecting virus in shrimps</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coconut1.png" alt="" class="circle">
              <span class="title"><h6>Mussel</h6></span>
              <a href="#!" class="collection-item">Pinoy longline: An innovative and sustainable way of growing mussels</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Mud Crab</h6></span>
              <a href="#!" class="collection-item">Quality planting materials for a better coffee</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/jackfruit1.png" alt="" class="circle">
              <span class="title"><h6>Tilapia</h6></span>
              <a href="#!" class="collection-item">GIS application for risk assessment in aquaculture</a> 
            </li>
            <li class="collection-item avatar">
              <img src="../images/mango1.png" alt="" class="circle">
              <span class="title"><h6>Aquafeeds</h6></span>
              <a href="#!" class="collection-item">Microalgae: Potential feed for aquaculture species</a>  
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">description</i>LIVESTOCK</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="../images/abaca1.png" alt="" class="circle">
              <span class="title"><h6>Duck</h6></span>
              <a href="#!" class="collection-item">Improved Pateros Layer Duck</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/banana1.png" alt="" class="circle">
              <span class="title"><h6>Native Chicken</h6></span>
              <a href="#!" class="collection-item">Day-old chicks: Cracking the shell for profit</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/coconut1.png" alt="" class="circle">
              <span class="title"><h6>Swine</h6></span>
              <a href="#!" class="collection-item">AndaliTM RT-LAMP Test Kits: Rapid and timely detection of PED virus</a>  
              <a href="#!" class="collection-item">‘Etag’ for you and me!</a>
              <a href="#!" class="collection-item">Lechon pa more!</a>
              <a href="#!" class="collection-item">Selecting the best local breeder pigs: Gene marker technology in breeding and selection/a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Goat</h6></span>
              <a href="#!" class="collection-item">AI in goat: Facilitating genetic improvement, generating income opportunities</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/jackfruit1.png" alt="" class="circle">
              <span class="title"><h6>Jackfruit</h6></span>
              <a href="#!" class="collection-item">Application of genomic information in dairy buffalo breeding program</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/mango1.png" alt="" class="circle">
              <span class="title"><h6>Dairy Buffalo</h6></span>
              <a href="#!" class="collection-item">Dipstick kit for rapid detection of true-to-type carabao’ mango variety</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Feed Resources</h6></span>
              <a href="#!" class="collection-item">Protein-enriched copra meal (PECM) as valuable protein source for swine, poultry, and aqua</a>  
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">description</i>FOREST AND ENVIRONMENT</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="../images/abaca1.png" alt="" class="circle">
              <span class="title"><h6>Rubber</h6></span>
              <a href="#!" class="collection-item">White gold from the forests</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/banana1.png" alt="" class="circle">
              <span class="title"><h6>Cacao</h6></span>
              <a href="#!" class="collection-item">Brown gold from the forests</a>  
              <a href="#!" class="collection-item">Cacao QPM production</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coconut1.png" alt="" class="circle">
              <span class="title"><h6>Industrial Tree Plantation</h6></span>
              <a href="#!" class="collection-item">Emeralds from the forests</a>  
              <a href="#!" class="collection-item">Improved mass propagation technique for coconut</a>
              <a href="#!" class="collection-item">Biological control of coconut scale insect (CSI)</a>
            </li>
            <li class="collection-item avatar">
              <img src="../images/coffee1.png" alt="" class="circle">
              <span class="title"><h6>Bamboo</h6></span>
              <a href="#!" class="collection-item">Green gold from the forests</a>  
            </li>
            <li class="collection-item avatar">
              <img src="../images/jackfruit1.png" alt="" class="circle">
              <span class="title"><h6>SARAI</h6></span>
              <a href="#!" class="collection-item">Smarter moves for a competitive agriculture</a> 
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
